*{
    /* Font for my headers */
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    
}

body {
    /* Main page background colour */
    background-color: aquamarine;
    opacity: 0.6;
}

.tm-container{
    /* Using all the space, remove margins */
    max-width: 1200px;
    margin: 0 auto;
}

.tm-header{
    /* Header colour */
    background-color: darksalmon;
}

.tm-nav{
    /* Align the headers to the center */
    text-align: center;
}

.tm-nav ul li{ 
    /* Put the headers all in one line horizontally */
    display: inline-block;
}

.tm-nav ul li a{
    /* Add spacing between each header and remove underline, also the default colour
    of each header */
    padding: 10px 20px;
    text-decoration: none;
    color: midnightblue;
    line-height: 60px;
}

.tm-nav ul li a:hover{
    /* Once we hover over each header, the text will turn crimson from midnight
    blue */
    color: crimson;
}

p{
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

ul,ol{
    margin-left: 20px;
    margin-bottom: 20px;
}

.tm-footer{
    background-color: darksalmon;
    text-align: center;
    padding: 20px;
}

